In [23]:
from faker import Faker
import random
import pandas as pd
import datetime

In [2]:
fake = Faker()

In [11]:
fake.name()

'Vincent Chavez'

Customer Data

In [120]:
customer = {}

customer["Names"] = []
customer["Gender"] = []
customer["Age"] = []
customer["Customer_ID"] = []
for id in range(1,251):
    age = random.choice([age for age in range(18,65)])
    gender = random.choice(["Female","Male"])
    if gender == 'Female':
        name = fake.name_female()
    else: 
        name = fake.name_male()

    if name in customer["Names"]:
        continue
    else:
        customer["Names"].append(name)

    customer["Gender"].append(gender)
    customer["Age"].append(age)
    customer["Customer_ID"].append(f"C{id}")

In [122]:
customer_df = pd.DataFrame({"Customer_ID":customer["Customer_ID"],"Name":customer["Names"],"Age":customer["Age"],"Gender":customer["Gender"]})

Products Data

In [123]:
products = {}
prod_category = {
    "Grocery": [
        {"Almonds":50},
        {"Apples":98},
        {"Cabbages":30},
        {"Pulses":120},
        {"Cheese":25},
        {"Onions":18},
        {"Bread":12}
        ],
    "Drinks" : [
        {"Pepsi":40},
        {"Red Bull":80},
        {"Orange Juice":60},
        {"Smoothie":45},
        {"Milk":36},
        {"Water":8}
        ],
    "Kitchen": [
        {"Knife":98},
        {"Gas Stove":350},
        {"Induction":520},
        {"Rice Cooker":488}
        ],
    "Personal Care" : [
        {"Sunscreen":69},
        {"Face Wash":54},
        {"Hair Color":49},
        {"Shaving Cream":76},
        {"Moisturizer":92}
        ]
}
products["Product"] = []
products["Category"] = []
products["Price"] = []
products["Product_ID"] = []
id = 1
for cat in prod_category: 
    for item in prod_category[cat]:
        for product, price in item.items():
            products["Product"].append(product)
            products["Category"].append(cat)
            products["Price"].append(price)
            products["Product_ID"].append(f"P{id}")
            id += 1

In [124]:
product_df = pd.DataFrame({"Product_ID":products["Product_ID"],"Products":products["Product"],"Category":products["Category"],"Price":products["Price"]})

In [75]:
product_df.head()

  Product_ID  Products Category  Price
0         P1   Almonds  Grocery     50
1         P2    Apples  Grocery     98
2         P3  Cabbages  Grocery     30
3         P4    Pulses  Grocery    120
4         P5    Cheese  Grocery     25

Sales

In [125]:
sales = {}
sales["Transaction_ID"] = []
sales["Date"] = []
sales["Quantity"] = []
sales["Amount"] = []
sales["Customer_ID"] = []
sales["Product_ID"] = []
start_date = datetime.date(2019, 6, 27)
end_date = datetime.date.today()
for rows in range(1,3001):
    t_id = f"t{rows}"
    c_id = random.choice(customer["Customer_ID"])
    p_id = random.choice(products["Product_ID"])
    date = start_date + datetime.timedelta(
      seconds=random.randint(0, int((end_date - start_date).total_seconds())))
    quantity = random.choices([1,2,3,4,5],weights=[50,25,15,10,5])[0]

    price = product_df.Price[product_df.Product_ID == p_id].values[0]
    amount = price * quantity
    sales["Transaction_ID"].append(t_id)
    sales["Date"].append(date)
    sales["Quantity"].append(quantity)
    sales["Amount"].append(amount)
    sales["Customer_ID"].append(c_id)
    sales["Product_ID"].append(p_id)

In [126]:
sales_df = pd.DataFrame({"Transaction_ID":sales["Transaction_ID"],"Customer_ID":sales["Customer_ID"],"Product_Id":sales["Product_ID"],"Date":sales["Date"],"Quantity":sales["Quantity"],"Amount":sales["Amount"]})

In [127]:
sales_df.tail()

     Transaction_ID Customer_ID Product_Id        Date  Quantity  Amount
2995          t2996        C180         P1  2019-10-11         2     100
2996          t2997         C68         P5  2021-12-01         1      25
2997          t2998        C131         P6  2019-08-11         2      36
2998          t2999        C161        P21  2021-04-13         2     152
2999          t3000         C99        P11  2022-04-29         5     225

Inventory

In [128]:
invntory = {}
invntory["Product_ID"] = []
invntory["Stock_Count"] = []
for prod in product_df.Product_ID:
    num = random.randint(20,42)
    weight = random.choices([300,500,800,1200,1800], weights=[30,60,120,100,80])[0]
    stock = num * weight
    invntory["Product_ID"].append(prod)
    invntory["Stock_Count"].append(stock)

In [129]:
inventory_df = pd.DataFrame({"Product_ID":invntory["Product_ID"],"Stock_Count":invntory["Stock_Count"]})

Final Touching

In [130]:
customer_df.head()

  Customer_ID               Name  Age  Gender
0          C1  Samantha Campbell   24  Female
1          C2      Regina Powell   63  Female
2          C3        Tracy Adams   61  Female
3          C4        John Wilcox   41    Male
4          C5         Mary Adams   53  Female

In [131]:
customer_df.shape

(250, 4)

In [132]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer_ID  250 non-null    object
 1   Name         250 non-null    object
 2   Age          250 non-null    int64
 3   Gender       250 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.9+ KB

In [133]:
product_df.head()

  Product_ID  Products Category  Price
0         P1   Almonds  Grocery     50
1         P2    Apples  Grocery     98
2         P3  Cabbages  Grocery     30
3         P4    Pulses  Grocery    120
4         P5    Cheese  Grocery     25

In [134]:
product_df.shape

(22, 4)

In [135]:
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Product_ID  22 non-null     object
 1   Products    22 non-null     object
 2   Category    22 non-null     object
 3   Price       22 non-null     int64
dtypes: int64(1), object(3)
memory usage: 832.0+ bytes

In [136]:
sales_df.head()

  Transaction_ID Customer_ID Product_Id        Date  Quantity  Amount
0             t1         C74        P21  2020-01-08         1      76
1             t2        C143         P3  2023-01-31         1      30
2             t3         C89        P20  2023-06-14         2      98
3             t4        C150        P10  2022-04-03         4     240
4             t5         C73        P14  2020-02-16         1      98

In [137]:
sales_df.shape

(3000, 6)

In [138]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Transaction_ID  3000 non-null   object
 1   Customer_ID     3000 non-null   object
 2   Product_Id      3000 non-null   object
 3   Date            3000 non-null   object
 4   Quantity        3000 non-null   int64
 5   Amount          3000 non-null   int64
dtypes: int64(2), object(4)
memory usage: 140.8+ KB

In [139]:
inventory_df.head()

  Product_ID  Stock_Count
0         P1        64800
1         P2        48600
2         P3        22400
3         P4        32000
4         P5        32000

In [140]:
inventory_df.shape

(22, 2)

In [141]:
inventory_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Product_ID   22 non-null     object
 1   Stock_Count  22 non-null     int64
dtypes: int64(1), object(1)
memory usage: 480.0+ bytes

Creating CSV Files

In [ ]:
customer_df.to_csv("Data/customers.csv")
product_df.to_csv("Data/products.csv")
sales_df.to_csv("Data/sales.csv")
inventory_df.to_csv("Data/inventory.csv")